@model WebApplication3.Models.CUENTAS_CLIENTES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUENTAS_CLIENTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CCuentaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
