@model WebApplication3.Models.PRODUCTOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUCTOS</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockReposicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockReposicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIAS.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIAS.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDORES.ListaPrecios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDORES.ListaPrecios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_IVA.TIvaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_IVA.TIvaID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
