@model WebApplication3.Models.PRODUCTOS

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PRODUCTOS</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductoID)

        <div class="form-group">
            @Html.LabelFor(model => model.CodProducto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodProducto)
                @Html.ValidationMessageFor(model => model.CodProducto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockReposicion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockReposicion)
                @Html.ValidationMessageFor(model => model.StockReposicion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioCompra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioCompra)
                @Html.ValidationMessageFor(model => model.PrecioCompra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioVenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioVenta)
                @Html.ValidationMessageFor(model => model.PrecioVenta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoriaID, "CategoriaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoriaID", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoriaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagenProducto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagenProducto)
                @Html.ValidationMessageFor(model => model.ImagenProducto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProveedorID, "ProveedorID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProveedorID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProveedorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detalle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalle)
                @Html.ValidationMessageFor(model => model.Detalle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIvaID, "TIvaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TIvaID", String.Empty)
                @Html.ValidationMessageFor(model => model.TIvaID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
