@model WebApplication3.Models.PROVEEDORES

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PROVEEDORES</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ListaPrecios, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ListaPrecios)
                @Html.ValidationMessageFor(model => model.ListaPrecios)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RazonSocial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RazonSocial)
                @Html.ValidationMessageFor(model => model.RazonSocial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CUIT_CUIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CUIT_CUIL)
                @Html.ValidationMessageFor(model => model.CUIT_CUIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion1)
                @Html.ValidationMessageFor(model => model.Direccion1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion2)
                @Html.ValidationMessageFor(model => model.Direccion2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvinciaID, "ProvinciaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProvinciaID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProvinciaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Localidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Localidad)
                @Html.ValidationMessageFor(model => model.Localidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodPostal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodPostal)
                @Html.ValidationMessageFor(model => model.CodPostal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitud)
                @Html.ValidationMessageFor(model => model.Latitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitud)
                @Html.ValidationMessageFor(model => model.Longitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zoom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zoom)
                @Html.ValidationMessageFor(model => model.Zoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono1)
                @Html.ValidationMessageFor(model => model.Telefono1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono2)
                @Html.ValidationMessageFor(model => model.Telefono2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mail1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail1)
                @Html.ValidationMessageFor(model => model.Mail1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mail2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail2)
                @Html.ValidationMessageFor(model => model.Mail2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descuento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descuento)
                @Html.ValidationMessageFor(model => model.Descuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comentarios, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentarios)
                @Html.ValidationMessageFor(model => model.Comentarios)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rubro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rubro)
                @Html.ValidationMessageFor(model => model.Rubro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroCuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroCuenta)
                @Html.ValidationMessageFor(model => model.NumeroCuenta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Banco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Banco)
                @Html.ValidationMessageFor(model => model.Banco)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CBU, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CBU)
                @Html.ValidationMessageFor(model => model.CBU)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CA)
                @Html.ValidationMessageFor(model => model.CA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CC)
                @Html.ValidationMessageFor(model => model.CC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioMercadolibre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsuarioMercadolibre)
                @Html.ValidationMessageFor(model => model.UsuarioMercadolibre)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
